<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <title>Swagger API</title>
</head>
<style>
    .content-section {
        display: none; /* Hide all sections by default */
    }
    .json-container {
        background-color: #f5f5f5;
        padding: 10px;
        border-radius: 5px;
        height: 400px; /* Adjust this height as needed */
        overflow: auto;
    }
    textarea {
            width: 100%;
            height: 10rem; /* Set an initial height */
            max-height: 50vh; /* Use viewport height for responsive design */
            resize: none; /* Disable manual resizing */
            box-sizing: border-box; /* Include padding and border in the element's total width and height */
        }
    pre {
        margin: 0; /* Remove default margin */
    }
</style>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Virtuella</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" id="nav-get">GET</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="nav-post">POST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="nav-delete">DELETE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" id="nav-put">PUT</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <br><br><br>
    <section id="get-section" class="content-section">
        <div class="accordion accordion-flush" id="get_accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="users">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_body" aria-expanded="false" aria-controls="users_body">
                  <h1>GET /users/</h1>
                </button>
            </h2>
            <div id="users_body" class="accordion-collapse collapse" aria-labelledby="users" data-bs-parent="#get_accordion">
                <div class="accordion-body">
                    <form action="/users" id="get_users">
                        <input type="submit" value="GET">
                    </form>
                </div>
                <div id="get_users_code" class="json-container"></div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="get_users_operations_label">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#get_users_operations_body" aria-expanded="false" aria-controls="get_users_operations_body">
                    <h1>GET /users/operations</h1>
                  </button>
                </h2>
                <div id="get_users_operations_body" class="accordion-collapse collapse" aria-labelledby="get_users_operations_label" data-bs-parent="#get_accordion">
                  <div class="accordion-body">
                      <form action="/users/operations" id="get_users_operations">
                          <input type="submit" value="GET">
                      </form>
                  </div>
                  <div id="get_users_operations_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="users_client">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_client_body" aria-expanded="false" aria-controls="users_client_body">
                    <h1>GET /users/client</h1>
                  </button>
                </h2>
                <div id="users_client_body" class="accordion-collapse collapse" aria-labelledby="users_client" data-bs-parent="#get_accordion">
                  <div class="accordion-body">
                      <form action="/users/client" id="get_users_client">
                          <input type="submit" value="GET">
                      </form>
                  </div>
                  <div id="get_users_client_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="users_client_id">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_client_id_body" aria-expanded="false" aria-controls="users_client_id_body">
                  <h1>GET /users/client/${id}</h1>
                </button>
              </h2>
              <div id="users_client_id_body" class="accordion-collapse collapse" aria-labelledby="users_client_id" data-bs-parent="#get_accordion">
                <div class="accordion-body">
                    <form action="/users/client/id" id="get_users_client_id">
                        id: <input type="text" name="ident" id="get_users_client_id_input" placeholder="id" value="" required>
                        <input type="submit" value="GET">
                    </form>
                </div>
                <div id="get_users_client_id_code" class="json-container"></div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="users_employe_label">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_employe_body" aria-expanded="false" aria-controls="users_employe_body">
                    <h1> GET /users/employe</h1>
                  </button>
                </h2>
                <div id="users_employe_body" class="accordion-collapse collapse" aria-labelledby="users_employe_label" data-bs-parent="#get_accordion">
                  <div class="accordion-body">
                      <form action="/users/employe" id="get_users_employe">
                          <input type="submit" value="GET">
                      </form>
                  </div>
                  <div id="get_users_employe_code" class="json-container"></div>
                </div>
              </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="users_employe_id_label">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_employe_id_body" aria-expanded="false" aria-controls="users_employe_id_body">
                  <h1> GET /users/employe/${id}</h1>
                </button>
              </h2>
              <div id="users_employe_id_body" class="accordion-collapse collapse" aria-labelledby="users_employe_id_label" data-bs-parent="#get_accordion">
                <div class="accordion-body">
                    <form action="/users/employe/id" id="get_users_employe_id">
                        id: <input type="text" name="ident" id="get_users_employe_id_input" placeholder="id" value="" required>
                        <input type="submit" value="GET">
                    </form>
                </div>
                <div id="get_users_employe_id_code" class="json-container"></div>
              </div>
            </div>
        </div>
    </section>
    <section id="post-section" class="content-section">
        <div class="accordion accordion-flush" id="post_accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="login_client_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#login_client_body" aria-expanded="false" aria-controls="login_client_body">
                        <h1>POST /login/client</h1>
                    </button>
                </h2>
                <div id="login_client_body" class="accordion-collapse collapse" aria-labelledby="login_client_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    username,
    password
}
                            </textarea>
                        </div>
                        <form action="/login/client" id="login_client">
                            <input type="text" name="username" placeholder="username" value="jude.bocq@gmail.com"> <br>
                            <input type="password" name="password" placeholder="password" value="bonjour"><br>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <div id="login_client_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="login_client_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#login_client_forgotpassword_body" aria-expanded="false" aria-controls="login_client_forgotpassword_body">
                        <h1>POST /login/client/forgotpassword</h1>
                    </button>
                </h2>
                <div id="login_client_forgotpassword_body" class="accordion-collapse collapse" aria-labelledby="login_client_forgotpassword_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    username,
    password
}
                            </textarea>
                        </div>
                        <form action="/login/client/forgotpassword" id="login_client_forgotpassword">
                            <input type="text" name="username" placeholder="username" value="jude.bocq@gmail.com"> <br>
                            <input type="password" name="password" placeholder="password" value="bonjour"><br>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <div id="login_client_forgotpassword_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="login_employe_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#login_employe_body" aria-expanded="false" aria-controls="login_employe_body">
                        <h1>POST /login/employe</h1>
                    </button>
                </h2>
                <div id="login_employe_body" class="accordion-collapse collapse" aria-labelledby="login_employe_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    username,
    password
}
                            </textarea>
                        </div>
                        <form action="/login/employe" id="login_employe">
                            <input type="text" name="username" placeholder="username" value="0123456789"><br>
                            <input type="password" name="password" placeholder="password" value="bonjour"><br>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <div id="login_employe_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="login_employe_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#login_employe_forgotpassword_body" aria-expanded="false" aria-controls="login_employe_forgotpassword_body">
                        <h1>POST /login/employe/forgotpassword</h1>
                    </button>
                </h2>
                <div id="login_employe_forgotpassword_body" class="accordion-collapse collapse" aria-labelledby="login_employe_forgotpassword_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    username,
    password
}
                            </textarea>
                        </div>
                        <form action="/login/employe/forgotpassword" id="login_employe_forgotpassword">
                            <input type="text" name="username" placeholder="username" value="0123456789"><br>
                            <input type="password" name="password" placeholder="password" value="bonjour"><br>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                    <div id="login_employe_forgotpassword_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="users_new_client_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_new_client_body" aria-expanded="false" aria-controls="users_new_client_body">
                        <h1>POST /users/client/new</h1>
                    </button>
                </h2>
                <div id="users_new_client_body" class="accordion-collapse collapse" aria-labelledby="users_new_client_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    email,
    name,
    surname,
    password
}
                            </textarea>
                        </div>
                        <form action="/users/client/new" id="users_new_client">
                            <input type="email" name="email" placeholder="email" value="<%= locals.email %>"> <br>
                            <input type="text" name="name" value="<%= locals.name %>" placeholder="name"> <br>
                            <input type="text" name="surname" value="<%= locals.surname %>" placeholder="surname"> <br>
                            <input type="password" name="password" placeholder="password" value="<%= locals.password %>"><br>
                            <p>La creation de compte et rattachement de carte se fera plus tard</p>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                    <div id="users_new_client_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="users_new_employe_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_new_employe_body" aria-expanded="false" aria-controls="users_new_employe_body">
                        <h1>POST /users/employe/new</h1>
                    </button>
                </h2>
                <div id="users_new_employe_body" class="accordion-collapse collapse" aria-labelledby="users_new_employe_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    email,
    name, 
    surname,
    password,
    role,
    clients
}
                            </textarea>
                        </div>
                        <form action="/users/employe/new" id="users_new_employe">
                            <input type="email" name="email" placeholder="email" value="<%= locals.email %>"> <br>
                            <input type="text" name="name" value="<%= locals.name %>" placeholder="name"> <br>
                            <input type="text" name="surname" value="<%= locals.surname %>" placeholder="surname"> <br>
                            <input type="password" name="password" placeholder="password" value="<%= locals.password %>"><br>
                            <select name="role">
                                <option value="ADMIN">ADMIN</option>
                                <option value="Autre">Autre</option>
                            </select>
                            <br>
                            <select name="clients" multiple>
                                <option value="664509ae87732bf815449adf">Jude</option>
                            </select>
                            <br>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                    <div id="users_new_employe_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="users_client_virement_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_client_virement_body" aria-expanded="false" aria-controls="users_client_virement_body">
                        <h1>POST /users/client/virement</h1>
                    </button>
                </h2>
                <div id="users_client_virement_body" class="accordion-collapse collapse" aria-labelledby="users_client_virement_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    from_iban,
    to_iban,
    amount,
    libelle
}
                            </textarea>
                        </div>
                        <form action="/users/client/virement" id="users_client_virement">
                            <p>From</p>
                            id (sender): <input type="text" name="ident" placeholder="id" required><br>
                            <select name="from_iban">
                                <option value="FR0193717749601196862485542" selected>Courant</option>
                                <option value="FR5477346976981752986365272">Livret A</option>
                            </select>
                            <p>To</p>
                            <input type="number" min="0" placeholder="montant" name="amount" required><br>
                            <input name="to_iban" id="to_iban" value="FR76virt4z5grd6z2szg8e5" placeholder="to_iban" required><br>
                            <input type="text" name="libelle" placeholder="libelle" required>
                            <div id="other_iban_div"></div>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                    <div id="users_client_virement_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="users_new_client_card_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_new_client_card_body" aria-expanded="false" aria-controls="users_new_client_card_body">
                        <h1>POST /users/client/new/card</h1>
                    </button>
                </h2>
                <div id="users_new_client_card_body" class="accordion-collapse collapse" aria-labelledby="users_new_client_card_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
{
    name
}
                            </textarea>
                        </div>
                        <form action="/users/client/new/card" id="users_new_client_card">
                            id (owner): <input type="text" name="ident" placeholder="id" required><br>
                            <input type="text" name="name" placeholder="name" required><br>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                    <div id="users_new_client_card_code" class="json-container"></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="users_new_client_account_label">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#users_new_client_account_body" aria-expanded="false" aria-controls="users_new_client_account_body">
                        <h1>POST /users/client/new/account</h1>
                    </button>
                </h2>
                <div id="users_new_client_account_body" class="accordion-collapse collapse" aria-labelledby="users_new_client_account_label" data-bs-parent="#post_accordion">
                    <div class="accordion-body">
                        <div>
                            <textarea disabled>
    {
        name
    }
                            </textarea>
                        </div>
                        <form action="/users/client/new/account" id="users_new_client_account">
                            id (owner): <input type="text" name="ident" placeholder="id" required><br>
                            <input type="text" name="name" placeholder="name" required><br>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                    <div id="users_new_client_account_code" class="json-container"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="delete-section" class="content-section">
        <div class="accordion accordion-flush" id="delete_accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="delete_users_client_id_label">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#delete_users_client_id_body" aria-expanded="false" aria-controls="delete_users_client_id_body">
                  <h1>DELETE /users/client/${id}</h1>
                </button>
              </h2>
              <div id="delete_users_client_id_body" class="accordion-collapse collapse" aria-labelledby="delete_users_client_id_label" data-bs-parent="#delete_accordion">
                <div class="accordion-body">
                    <form action="/users/client/id" id="delete_users_client_id">
                        id: <input type="text" value="" name="ident" id="delete_client_id_input" placeholder="id" required>
                        <input type="submit" value="DELETE">
                    </form>
                </div>
                <div id="delete_users_client_id_code" class="json-container"></div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="delete_users_employe_id_label">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#delete_users_employe_id_body" aria-expanded="false" aria-controls="delete_users_employe_id_body">
                    <h1>DELETE /users/employe/${id}</h1>
                  </button>
                </h2>
                <div id="delete_users_employe_id_body" class="accordion-collapse collapse" aria-labelledby="delete_users_employe_id_label" data-bs-parent="#delete_accordion">
                  <div class="accordion-body">
                    <form action="/users/employe/id" id="delete_users_employe_id">
                        id: <input type="text" name="ident" value="" placeholder="id" id="delete_users_employe_id_input" required>
                        <input type="submit" value="DELETE">
                    </form>
                  </div>
                  <div id="delete_users_employe_id_code" class="json-container"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="put-section" class="content-section">
        <div class="accordion accordion-flush" id="put_accordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="put_users_client_id_label">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#put_users_client_id_body" aria-expanded="false" aria-controls="put_users_client_id_body">
                  <h1>PUT /users/client/${id}</h1>
                </button>
              </h2>
              <div id="put_users_client_id_body" class="accordion-collapse collapse" aria-labelledby="put_users_client_id_label" data-bs-parent="#put_accordion">
                <div class="accordion-body">
                    <div>
                        <textarea disabled>
{
    surname,
    name,
    email,
    accounts,
    cards
}
                        </textarea>
                    </div>
                    <form action="/users/client/id" id="put_users_client_id">
                        id: <input type="text" value="" name="ident" id="put_client_id_input" placeholder="id" required><br>
                        <input type="text" name="surname" placeholder="surname"><br>
                        <input type="text" name="name" placeholder="name"><br>
                        <input type="email" name="email" placeholder="email"><br>
                        <p>Comptes</p>
                        <select name="accounts"multiple>
                            <option value="664509ec87732bf815449ae1">Courant</option>
                            <option value="6645ae5e87732bf815449af5">Livret A</option>
                        </select><br>
                        <p>Cartes</p>
                        <select name="cards" multiple>
                            <option value="66450a1787732bf815449ae3">Visa</option>
                            <option value="6654c5cc3be96b1ee5ec5b68">Mastercard</option>
                        </select><br>
                        <input type="submit" value="Update">
                    </form>
                </div>
                <div id="put_users_client_id_code" class="json-container"></div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="put_users_employe_id_label">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#put_users_employe_id_body" aria-expanded="false" aria-controls="put_users_employe_id_body">
                    <h1>PUT /users/employe/${id}</h1>
                  </button>
                </h2>
                <div id="put_users_employe_id_body" class="accordion-collapse collapse" aria-labelledby="put_users_employe_id_label" data-bs-parent="#put_accordion">
                  <div class="accordion-body">
                    <div>
                        <textarea disabled>
{
    name,
    surname,
    email,
    role,
    clients
}
                        </textarea>
                    </div>
                      <form action="/users/employe/id" id="put_users_employe_id">
                        id: <input type="text" name="ident" value="" id="put_users_employe_id_input" placeholder="id" required><br>
                        <input type="text" name="name" value="bouijoux" placeholder="name"><br>
                        <input type="text" name="surname" value="corentin" placeholder="surname"><br>
                        <input type="email" name="email" value="corentin.bouijoux@example.com" placeholder="email"><br>
                        <p>role</p>
                        <select name="role">
                            <option value="ADMIN">ADMIN</option>
                            <option value="Other">Other</option>
                        </select><br>
                        <p>clients</p>
                        <select name="clients" multiple>
                            <option value="664509ae87732bf815449adf">Jude</option>
                            <option value="664f73ab74cdd726f83d7267">JB</option>
                        </select><br>
                        <input type="submit" value="Update">
                    </form>
                  </div>
                  <div id="put_users_employe_id_code" class="json-container"></div>
                </div>
            </div>
        </div>
    </section>

    <script async>
        const forms = [
            document.getElementById('login_client'),
            document.getElementById('login_client_forgotpassword'),
            document.getElementById('login_employe'),
            document.getElementById('login_employe_forgotpassword'),
            document.getElementById('users_new_employe'),
            document.getElementById('users_new_client'),
            document.getElementById('users_client_virement'),
            document.getElementById('users_new_client_card'),
            document.getElementById('users_new_client_account'),
            document.getElementById('get_users'),
            document.getElementById('get_users_operations'),
            document.getElementById('get_users_client_id'),
            document.getElementById('get_users_employe_id'),
            document.getElementById('get_users_client'),
            document.getElementById('get_users_employe'),
            document.getElementById('delete_users_client_id'),
            document.getElementById('delete_users_employe_id'),
            document.getElementById('put_users_client_id'),
            document.getElementById('put_users_employe_id')
        ];
        const selects_multiple_ids = [
            "clients",
            "accounts",
            "cards"
        ]
        const token = sessionStorage.getItem('token');
        for (let form of forms) {
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const elem = document.getElementById(form.id+'_code');
                const submit = form.querySelector('input[type="submit"]');
                submit.disabled = true;
                eraseJson(elem);
                const method = localStorage.getItem("method");
                const formData = new FormData(form);
                const formValues = Object.fromEntries(formData);
                // Convert FormData entries to an object, handling multiple select separately
                formData.forEach((value, key) => {
                    if (selects_multiple_ids.find( e => e === key)) {
                        const multiple = formData.getAll(key);
                        formValues[key] = formData.getAll(key);
                    }
                });
                if (form.action.includes("/id")){
                    form.action = form.action.replace("id", formValues.ident);
                    delete formValues['ident'];
                }
                const resp = await fetch (form.action, {
                        method: method,
                        headers: {
                            'Authorization': 'Bearer '+token,
                            'Content-type': 'application/json'
                        },
                        body: method === "get" ? undefined : JSON.stringify(formValues)
                    })
                    .then( async (resp) => renderJson(elem, await resp.json()))
                    .catch( async (resp) => renderJson(elem, await resp.json()));
                submit.disabled = false;
            }); 
        }

        const otherIban = document.getElementById('other_iban_div');
        const toIban = document.getElementById('to_iban').addEventListener('change', (event) => {
            otherIban.innerHTML="";
            if (event.target.value === "OTHER") {
                const newInput = document.createElement('input');
                newInput.type="text";
                newInput.name="to_iban_other";
                newInput.id="to_iban_other";
                newInput.placeholder="to_iban_other";
                newInput.pattern="^FR[a-zA-Z]{25}$";
                otherIban.appendChild(newInput);
            }
        });

        async function login() {
            const resp = fetch('/login/employe', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: '0123456789',
                    password: 'bonjour'
                })
            }).then(async resp => {
                const data = await resp.json();
                sessionStorage.setItem('token', data.token);
            });
        }

        function renderJson(elem, data) {
            elem.innerHTML = `<pre><code class="json">${JSON.stringify(data, null, 2)}</code></pre>`;
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightElement(block);
            });
        }

        function eraseJson(elem) {
            elem.innerHTML = "Loading...";
        }

        document.addEventListener('DOMContentLoaded', () => {
            login();
            const sections = document.querySelectorAll('.content-section');
            const navLinks = document.querySelectorAll('.navbar-nav .nav-link');

            function showSection(sectionId) {
                sections.forEach(section => {
                    section.style.display = 'none';
                });
                document.getElementById(sectionId).style.display = 'block';
            }

            function setActiveNavLink(activeLink) {
                navLinks.forEach(link => {
                    link.classList.remove('active');
                });
                activeLink.classList.add('active');
            }

            navLinks.forEach(link => {
                link.addEventListener('click', (event) => {
                    event.preventDefault();
                    const id = event.target.id.replace('nav-', '');
                    showSection(`${id}-section`);
                    setActiveNavLink(event.target);
                    localStorage.setItem("method", id);
                });
            });

            // Optionally, show the GET section by default
            showSection('get-section');
            localStorage.setItem("method", "get")

        });

    </script>
</body>
</html>